{% extends "_meta/fw_base.html" %}
{% block nav-pages %}<li class="active"><a><strong>Vorlagen</strong></a></li>{% endblock %}

{% block content %}
    {% if page_list and page_list|length > 0  %}
        {% include "_meta/blocks/fw/intro.html" with introTitle="Vorlagen" introText="" introHeader=' <form method="get" action="page/index.html"><input type="hidden" value="build" name="make"><p><button class="btn pull-right btn-primary btn-lg">Bundle exportieren»</button></p></form>' %}
        {% include "_meta/blocks/fw/page_headline2.html" with pageHeadline="fertige Vorlagen" %}

        {% for key, box in page_list.items %}
        <div class="template-box template-box-{{ key }}">
            {% if box.headline %}
                {% include "_meta/blocks/fw/page_headline3.html" with pageHeadline=box.headline %}
            {% endif %}
            {% if box.intro %}
                <p>{{ box.intro }}</p>
            {% endif %}
            {% if box.pages and box.pages|length > 0 %}
                <ul>
                {% for tpl, name in box.pages.items %}
                    <li>{{ name }} <a class="btn btn-xs btn-info" href="page/{{ tpl }}">anschauen</a> <a class="btn btn-xs btn-primary" href="page/{{ tpl }}?make=build">Export</a> <a class="btn btn-xs btn-success" href="responsive/index.html?template={{ tpl }}">Responsive</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% endfor %}
    {% else %}
        {% include "_meta/blocks/fw/intro.html" with introTitle="Vorlagen" introText="Es sind noch keine fertigen Vorlagen im Frontend vorhanden." introFooter='' %}
    {% endif %}

    {% if work_list and work_list|length > 0  %}
        {% include "_meta/blocks/fw/page_headline2.html" with pageHeadline="Vorlagen in Arbeit" %}
        {% for key, box in work_list.items %}
            <div class="template-box template-box-{{ key }}">
                {% if box.headline %}
                    {% include "_meta/blocks/fw/page_headline3.html" with pageHeadline=box.headline %}
                {% endif %}
                {% if box.intro %}
                    <p>{{ box.intro }}</p>
                {% endif %}
                {% if box.pages and box.pages|length > 0 %}
                    <ul>
                        {% for tpl, name in box.pages.items %}
                            <li>{{ name }} <a class="btn btn-xs btn-info" href="page/{{ tpl }}">anschauen</a> <a class="btn btn-xs btn-primary" href="page/{{ tpl }}?make=build">Export</a> <a class="btn btn-xs btn-success" href="responsive/index.html?template={{ tpl }}">Responsive</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}