@-webkit-keyframes jdfadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes jdfadeIn { from { opacity:0; } to { opacity:1; } }
@-o-keyframes jdfadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes jdfadeIn { from { opacity:0; } to { opacity:1; } }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    background-color: transparent; background-image: none;
    border: none 0; outline: 0; vertical-align: baseline;
    margin: 0; padding: 0;
    font-style: normal; font-family: @defaultFontFam; font-size: 100%; line-height: 100%;
}

*{ font-family: @defaultFontFam; }
ol, ul{ list-style: none outside none; }
blockquote, q{ quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
acronym, abbr{ cursor: help; border-bottom: dotted 1px #000; }
a:link, a:visited, a:hover, a:focus, a:active{
    acronym, abbr{ cursor: pointer; }
}
*:focus{ outline: 0; }

table{ border-collapse: collapse; border-spacing: 0; empty-cells: show; caption-side: top; }
caption, th, td{ text-align: left; vertical-align: top; font-weight: normal; }
img{ display: block; float: none; border: none 0; font-size: 50%; }

form{
    label{ cursor: pointer; }
    .morelink input { border: 0px solid transparent; cursor: pointer; }
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; }

html { font-family: @baseFontFam; }
b, strong { font-weight: bold;}
a:link, a:visited { outline: 0 none; text-decoration: none; font-weight: bold; }
a:hover, a:focus, a:active{ text-decoration: underline; }
button::-moz-focus-inner { border:0; padding:0; }